
<!DOCTYPE html>
<html>
<head>

</head>
<body>
<h1> Welcome Admin ......</h1>
  <script src="http://code.jquery.com/jquery-latest.min.js"></script>
  <script src="dropkick.js"></script>
  <link href="dropkick.css" rel="stylesheet" />
  <select name="country" class="demo" tabindex="2">
  <option value="AU">Australia</option>
  <option value="CA">Canada</option>
  <option value="DE">Germany</option>
  <option value="JP">Japan</option>
  <option value="GB">United Kingdom</option>
  <option value="US">United States</option>
</select>
<a href="reg">Click</a>
</body>
</html>
